body{
  font-family: 'Julius Sans One', sans-serif;
}
h2{
  text-align: center;
  padding: 5px;
  margin: 0;
  font-size: 20px;
  /* overflow: hidden; */
}

img{
  margin: 20px auto; /* puts image in middle horizontally */
  display: block;
  max-height: 90px;
}

#beer-container{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
}


.beer-item{
 grid-column: auto;

 border: 1px solid lightgray;
 box-shadow: 0 0px 5px rgba(0,0,0,0.2);
 margin:  10px;
 padding: 0;
 height: auto; /* makes sure all the image is displayed */
 border-radius: 10px;
}

.beer-item:hover{
  background: lightgray; /* just because */

}

.beer-title{
  background: lightgray;
  height: auto; /* makes sure all the title is displaye */
  width: 200x;
}

.beer-title:hover{
  background: white; /* just because! */
}
